@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro.ttf') format('truetype');
}
.content {
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro';
}
.hero {
  background-image: url('https://res.cloudinary.com/dio2dnpmn/image/upload/v1725753881/dollmaker/rsj25gn2ff4h52ysucvi.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.discografia {
  color: #fff;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 220px 0 64px 0;
}

.discografia .panel {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  color: #3f3f3f;
  font-size: 32px;
  padding: 32px 0;
}

.spotify {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.spotify > h2 {
  font-size: 64px;
  font-stretch: expanded;
  font-weight: 500;
  text-align: center;
}

.spotify .cards {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap !important;
}

.cards .card {
  width: 274px;
  padding: 12px 12px;
  border-radius: 8px;
  background: linear-gradient(180deg, #000 0%, #242020 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  text-align: center;
}
.card .cta {
  display: flex;
  gap: 22px;
}

@media screen and (max-width: 700px) {
  .spotify > h2 {
    font-size: 40px;
  }
}

.card .fotoMusic {
  width: 250px;
  height: 250px;

  border-radius: 8px;
  background: #fff;
  background-size: cover;
}

.card .descMusic {
  color: #fff;
  font-stretch: expanded;
}

.cards audio::-webkit-media-controls-time-remaining-display,
.cards audio::-webkit-media-controls-current-time-display {
  display: none;
}
.cards audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}

.descMusic h2 {
  font-size: 18px;
  font-weight: 500;
}
.descMusic p {
  font-size: 14px;
  font-weight: 200;
  color: #aeaeae;
}
@media screen and (max-width: 400px) {
  .hero {
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: initial;
  }
  .cards {
    padding: 0 16px;
    gap: 32px !important;
  }
  .cards .card {
    width: 100%;
    padding: 22px 12px;
  }
  .descMusic h2 {
    font-size: 18px;
  }
  .descMusic p {
    font-size: 12px;
  }
}

.player {
  background: #3d2a99;
  padding: 18px 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  width: 100%;
}

.player p {
  color: #fff;
}

.player .bar {
  background: #fff;
  width: 103px;
  height: 4px;
  border-radius: 2px;
}

audio {
  width: 100%;
}
